<div class="footer bg-light" >
    <div class="row">
        <div class="col-md-9">
           <div >
               <a class="p-3" href="">Information</a>
               <a class="p-3" href="">Customers</a>
               <a class="p-3" href="">Company</a>
               <a class="p-3" href="">Contact</a>
           </div>
        </div>
        <div class="col-md-3 icons" style="font-size:25px;color:blue;">
            <a href="https://www.linkedin.com/in/jalal-khaligov-22b9581b6/" class="footer_icon"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/Jalal-001" class="footer_icon"><i class="fa-brands fa-github"></i></a>
            <a href="" class="footer_icon"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <p class="col-md-12 text-center">SecondShop E-commerce Site | &copy; 2022 | Site By  Jalal Khaligov | All Rights Reserved</p>
    </div>
</div>