<div class="footer bg-light" >
    <div class="row">
        <div class="col-md-9">
           <ul class="footer-text d-flex"  style="list-style:none;font-size:20px">
               <a class="mx-2 ms-lg-5" href=""><li>Information</li></a>
               <a class="mx-2" href=""><li>Customers</li></a>
               <a class="mx-2" href=""><li>Company</li></a>
               <a class="mx-2" href=""><li>Contact</li></a>
           </ul>
        </div>
        <div class="col-md-3 icons" style="font-size:25px;color:blue;">
            <a href="https://www.linkedin.com/in/jalal-khaligov-22b9581b6/" class="footer_icon"><i class="fa-brands fa-linkedin"></i></a>
            <a href="" class="footer_icon"><i class="fa-brands fa-github"></i></a>
            <a href="" class="footer_icon"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <p class="col-md-12 text-center">E-commerce App | 2022 | Site By &copy; Jalal Khaligov</p>
    </div>
</div>