 <header class="mt-3">
    <div class="jumbotron jumbotron-fluid bg-light">
        <div class="container">
            <h1 class="display-4">SecondShop<h4>E-commerce Site</h4></h1>
            <p class="lead">
               Over one million small business owners from 175 countries trust SecondShop 
               to help them sell their products and services online and in person.
               So what exactly is SecondShop ? SecondShop is a world-class commerce 
               platform that has everything you need to start, sell, 
               market and manage your business.This includes selling through your own 
               fully customizable website, social media, and online marketplaces like Amazon,
               but also through retail experiences like farmers’ markets, pop-up shops, 
               and permanent storefronts. There are many 
               key features that make SecondShop the best platform to build your
               business on.They include premade store templates that 
               help you customize the look and feel of your store
               without having to know how to code, built-in
               payment processing to accept credit cards 
               and other forms of payment, free and paid
               apps from the SecondShop app store to 
               expand the functionality of your store,
               growth opportunities with SecondShop 
               sales channels, and built-in marketing 
               features and a dedicated support team
               available 24/7 to answer your questions.
            </p>
        </div>
    </div>
</header>